# Udemy Course - Data Analysis

*Note: It is very old data of udemy.*

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Udemy Courses.csv')

In [3]:
df.shape

(3682, 11)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3682 entries, 0 to 3681
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3682 non-null   int64
 1   course_title         3682 non-null   object
 2   is_paid              3682 non-null   bool
 3   price                3682 non-null   object
 4   num_subscribers      3682 non-null   int64
 5   num_reviews          3682 non-null   int64
 6   num_lectures         3682 non-null   int64
 7   level                3682 non-null   object
 8   content_duration     3682 non-null   object
 9   published_timestamp  3682 non-null   object
 10  subject              3682 non-null   object
dtypes: bool(1), int64(4), object(6)
memory usage: 291.4+ KB

In [5]:
df.head()

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,288942,#1 Piano Hand Coordination: Play 10th Ballad i...,True,35,3137,18,68,All Levels,1.5 hours,2014-09-18T05:07:05Z,Musical Instruments
1,1170074,#10 Hand Coordination - Transfer Chord Ballad ...,True,75,1593,1,41,Intermediate Level,1 hour,2017-04-12T19:06:34Z,Musical Instruments
2,1193886,#12 Hand Coordination: Let your Hands dance wi...,True,75,482,1,47,Intermediate Level,1.5 hours,2017-04-26T18:34:57Z,Musical Instruments
3,1116700,#4 Piano Hand Coordination: Fun Piano Runs in ...,True,75,850,3,43,Intermediate Level,1 hour,2017-02-21T23:48:18Z,Musical Instruments
4,1120410,#5 Piano Hand Coordination: Piano Runs in 2 ...,True,75,940,3,32,Intermediate Level,37 mins,2017-02-21T23:44:49Z,Musical Instruments

### Data Pre-Processing

In [11]:
# Convert 'price' column to int type.
df['price'] = df['price'].map(lambda x: '0' if x == 'Free' else x).astype('float64')

In [15]:
# Convert 'timeStamp' column to datetime type.
df['published_timestamp'] = pd.to_datetime(df['published_timestamp'])

## Exploratory data analysis

Q1. What are the different subjects/courses udemy offers?

In [28]:
subjects = df['subject'].unique()

for sub in subjects:
    print(sub)

Musical Instruments
Business Finance
Graphic Design
Web Development

Q2. Find out the maximum no. of courses each category has?

In [31]:
df['subject'].value_counts()

Web Development        1200
Business Finance       1199
Musical Instruments     680
Graphic Design          603
Name: subject, dtype: int64

Q3. Show all the courses which are free of course?

In [38]:
df[df['is_paid'] == False].head()

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
41,286070,5 lecciones que todo guitarrista debe tomar,False,0.0,4452,263,14,Beginner Level,1 hour,2014-08-23 05:08:14+00:00,Musical Instruments
49,696630,"7 Ways A Beginner Guitarist Can Sound Better, ...",False,0.0,4529,193,7,Beginner Level,36 mins,2015-12-21 18:50:50+00:00,Musical Instruments
57,955914,A beginner`s guide to fingerpicking and strumm...,False,0.0,3481,29,20,Beginner Level,2 hours,2016-09-13 21:51:59+00:00,Musical Instruments
67,270976,A how to guide in HTML,False,0.0,7318,205,8,Beginner Level,35 mins,2014-08-10 20:19:10+00:00,Web Development
74,1214144,¡Triunfar en La Bolsa de Valores No Requiere d...,False,0.0,338,7,6,Beginner Level,1 hour,2017-05-30 14:30:12+00:00,Business Finance

Q4. Show all the courses which are paid?

In [39]:
df[df['is_paid'] == True].head()

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,288942,#1 Piano Hand Coordination: Play 10th Ballad i...,True,35.0,3137,18,68,All Levels,1.5 hours,2014-09-18 05:07:05+00:00,Musical Instruments
1,1170074,#10 Hand Coordination - Transfer Chord Ballad ...,True,75.0,1593,1,41,Intermediate Level,1 hour,2017-04-12 19:06:34+00:00,Musical Instruments
2,1193886,#12 Hand Coordination: Let your Hands dance wi...,True,75.0,482,1,47,Intermediate Level,1.5 hours,2017-04-26 18:34:57+00:00,Musical Instruments
3,1116700,#4 Piano Hand Coordination: Fun Piano Runs in ...,True,75.0,850,3,43,Intermediate Level,1 hour,2017-02-21 23:48:18+00:00,Musical Instruments
4,1120410,#5 Piano Hand Coordination: Piano Runs in 2 ...,True,75.0,940,3,32,Intermediate Level,37 mins,2017-02-21 23:44:49+00:00,Musical Instruments

Q5. Which are the top selling courses?

In [55]:
df.sort_values('num_subscribers', ascending=False).head()

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
2230,41295,Learn HTML5 Programming From Scratch,False,0.0,268923,8629,45,All Levels,10.5 hours,2013-02-14 07:03:41+00:00,Web Development
776,59014,Coding for Entrepreneurs Basic,False,0.0,161029,279,27,Beginner Level,3.5 hours,2013-06-09 15:51:55+00:00,Web Development
3385,625204,The Web Developer Bootcamp,True,200.0,121584,27445,342,All Levels,43 hours,2015-11-02 21:13:27+00:00,Web Development
640,173548,Build Your First Website in 1 Week with HTML5 ...,False,0.0,120291,5924,30,Beginner Level,3 hours,2014-04-08 16:21:30+00:00,Web Development
3316,764164,The Complete Web Developer Course 2.0,True,200.0,114512,22412,304,All Levels,30.5 hours,2016-03-08 22:28:36+00:00,Web Development

Q6. Which are the lease selling courses?

In [56]:
df.sort_values('num_subscribers').head()

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
649,1233314,Building a Balanced Scorecard,True,50.0,0,0,11,Intermediate Level,2 hours,2017-07-03 21:38:22+00:00,Business Finance
3259,1232282,The Cash Flow Statement - An Introduction,True,50.0,0,0,10,Beginner Level,1.5 hours,2017-06-28 16:05:51+00:00,Business Finance
3261,1275872,The Complete Adobe Spark Course,True,150.0,0,0,29,All Levels,2 hours,2017-07-03 17:39:57+00:00,Graphic Design
910,726314,Create Beautiful Image Maps for Your Website,True,20.0,0,0,8,Intermediate Level,37 mins,2016-01-18 17:56:36+00:00,Graphic Design
3328,715476,The Cuckoo Strategy to get European Funding,True,160.0,0,0,6,All Levels,1 hour,2016-01-06 02:38:23+00:00,Business Finance

Q7. Show all the courses of graphic design, where the price is below 100?

In [61]:
sub_mask = df['subject'] == 'Graphic Design'
price_mask1 = df['price'] > 0
price_mask2 = df['price'] < 100

df[sub_mask & price_mask1 & price_mask2]

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
8,206592,:::Beginners Guide To Creating Amazing Images ...,True,25.0,72,5,17,Beginner Level,1 hour,2014-04-29 19:50:31+00:00,Graphic Design
20,1165268,15 Motion Graphic Elements in After Effect (S...,True,30.0,8,0,20,Intermediate Level,3 hours,2017-04-11 04:27:34+00:00,Graphic Design
35,1164876,3DS MAX - Learn 3Ds MAX tutorial for Beginners...,True,20.0,785,2,29,All Levels,4.5 hours,2017-04-18 16:45:59+00:00,Graphic Design
39,599652,48 Logo Designs and Techniques,True,20.0,113,9,48,All Levels,9 hours,2015-09-15 00:23:14+00:00,Graphic Design
52,794036,8 Stunden professionelles Cinema 4D Training,True,50.0,18,1,38,All Levels,8.5 hours,2016-03-22 20:51:28+00:00,Graphic Design
...,...,...,...,...,...,...,...,...,...,...,...
3568,133968,Web Elements Design With Photoshop,True,45.0,5072,38,44,All Levels,5 hours,2014-10-21 19:18:12+00:00,Graphic Design
3588,1131780,"Whiteboard Animation, Beginner To Expert - In ...",True,20.0,1343,25,16,All Levels,1 hour,2017-03-14 20:52:30+00:00,Graphic Design
3639,1122306,Wordpress: Comment utiliser le thème FABLE,True,20.0,1,0,10,Beginner Level,39 mins,2017-03-07 16:53:27+00:00,Graphic Design
3671,144222,"YOU can Draw, Shade and Paint a Mixed Media Gi...",True,30.0,1249,44,19,Beginner Level,3 hours,2014-01-28 02:30:26+00:00,Graphic Design
3681,964478,Zombie Apocalypse Photoshop Actions,True,50.0,12,1,15,All Levels,1.5 hours,2016-09-26 22:19:48+00:00,Graphic Design

Q8. Find out all the courses which are related to python?

In [67]:
df[df['course_title'].str.contains('Python')].head()

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
216,599504,Advanced Scalable Python Web Development Using...,True,120.0,1299,56,71,Intermediate Level,14 hours,2016-08-11 22:09:24+00:00,Web Development
777,47963,"Coding for Entrepreneurs: Learn Python, Django...",True,195.0,23412,799,251,All Levels,45 hours,2013-04-08 00:46:14+00:00,Web Development
814,631128,Complete Python Web Course: Build 8 Python Web...,True,110.0,7489,941,173,All Levels,16 hours,2015-11-08 20:57:35+00:00,Web Development
842,186096,"Core: A Web App Reference Guide for Django, Py...",True,195.0,2497,98,154,All Levels,26 hours,2014-05-29 00:58:43+00:00,Web Development
1400,394832,Fun and creative web engineering with Python a...,False,0.0,10917,319,25,All Levels,2 hours,2015-06-09 19:51:50+00:00,Web Development

Q9. What courses are published in 2017?

In [74]:
df[ df['published_timestamp'].dt.year == 2017 ]

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
1,1170074,#10 Hand Coordination - Transfer Chord Ballad ...,True,75.0,1593,1,41,Intermediate Level,1 hour,2017-04-12 19:06:34+00:00,Musical Instruments
2,1193886,#12 Hand Coordination: Let your Hands dance wi...,True,75.0,482,1,47,Intermediate Level,1.5 hours,2017-04-26 18:34:57+00:00,Musical Instruments
3,1116700,#4 Piano Hand Coordination: Fun Piano Runs in ...,True,75.0,850,3,43,Intermediate Level,1 hour,2017-02-21 23:48:18+00:00,Musical Instruments
4,1120410,#5 Piano Hand Coordination: Piano Runs in 2 ...,True,75.0,940,3,32,Intermediate Level,37 mins,2017-02-21 23:44:49+00:00,Musical Instruments
5,1122832,#6 Piano Hand Coordination: Play Open 10 Balla...,True,65.0,2015,3,21,Intermediate Level,44 mins,2017-03-08 17:53:36+00:00,Musical Instruments
...,...,...,...,...,...,...,...,...,...,...,...
3662,1115132,XML XQuery - Crash Course for Beginners,True,45.0,426,4,10,All Levels,1 hour,2017-02-19 22:52:36+00:00,Web Development
3663,1115126,XML XSLT - Crash Course for Beginners,True,45.0,426,4,9,All Levels,1 hour,2017-02-19 18:11:07+00:00,Web Development
3672,1031698,You Can Play Jazz Saxophone,True,20.0,37,7,6,Beginner Level,1.5 hours,2017-03-15 16:20:15+00:00,Musical Instruments
3674,1257976,Your First 10 Guitar Lessons - Learn how to pl...,False,0.0,924,4,18,Beginner Level,1 hour,2017-06-29 00:29:36+00:00,Musical Instruments
3680,1225194,Zoho Books Gestion Financière d'Entreprise pas...,False,0.0,229,0,33,All Levels,2 hours,2017-05-26 16:45:55+00:00,Business Finance

Q.10 What are the maximum no. of subscribers for each level of course?

In [76]:
df.groupby('level')['num_subscribers'].sum().sort_values(ascending=False)

level
All Levels            6916112
Beginner Level        4052843
Intermediate Level     742005
Expert Level            50196
Name: num_subscribers, dtype: int64